@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Alegreya|Oswald:300,500,600,700');


*{
    //font-family: 'Lato', sans-serif;
    font-family: 'Alegreya', serif;
    font-size: 11pt;
}
body,html{
    width: 100%;
    overflow-x: hidden;
    min-width: 300px;
}
a{
    color: inherit;
}
a, a:hover{
    text-decoration: none;
}
a:hover{
    color: white;
    cursor: pointer;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    
    @media screen and (max-width: 600px){
        font-size: 3rem;
    }
     @media screen and (max-width: 991px) and (min-width: 601px){
        font-size: 4rem;
    }
}
h2{
    font-size: 2rem;
}
.container-fluid{
    width: 100%;
    @media screen and (max-width: 600px){
        width: 100%;
    }
}
.container{
    @media screen and (max-width: 600px){
        width: 100%;
    }
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    margin-right: 0;
}


.video{
    position: fixed;
    top: 0;
    left:0;
    padding: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    video{
        width: 100%;
        @media screen and (max-width: 600px){
            //left: -40%;
            //width: 400%;
            display: none;
        }
        @media screen and (max-width: 991px) and (min-width: 601px){
             left: -30%;
            width: 300%;
        }
        @media screen and (max-width: 1199px) and (min-width: 992px){
            left: -20%;
            width: 250%;
        }
        @media screen and (min-width: 1200px){
            left: -10%;
            width: 150%;
        }
        @media screen and (min-width: 1500){
            left: 0;
            width: 101%;
        }
    }
}
.for-phones{
    //position: fixed;
    //top: 0;
    //left:0;
    width: 100%;
    padding: 0;
    z-index: -1;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    
    @media screen and (min-width: 600px){
        display: none;
    }
    >.parallax{
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        -webkit-transform: translateZ(-1px) scale(2);
    }
}
.navigation1{
    z-index: 1;
    position: absolute;
    width: 30%;
    top: 25%;
    left: 10%;
    .nav-item{
        padding: 20px;
        text-align: left;
        :hover{
            cursor: pointer;
        }
        a{
            font-size: 1.3rem;
            color: rgba(255,255,255,0.9);
        }
        a:hover{
            color: white;
        }
    }
    @media screen and (max-width: 600px){
        top: 50%;
    }
    @media screen and (max-width: 991px){
        top: 50%;
    }
}
.sidenav-trigger{
    display: none;
}
/*---------------------------------------------------------------*/

.home{
    z-index: 1;
    color: rgba(255,255,255,0.9);
    background-color: rgba(0,0,0,0.8);
    .col{
        padding-top: 15vh;
    }
    img{
        display: block;
        margin: 0 auto;
        width: 30%;
        @media screen and (max-width: 600px){
            width: 70%;
        }
        @media screen and (max-width: 991px) and (min-width: 601px){
            width: 60%;
        }
    }
    h1,h5,p{
        text-align: right;
    }
    h5{
        display: block;
        margin: 0 auto;
        width: 50%;
        padding: 0;
        text-align: center;
        word-spacing:normal;
        
        @media screen and (max-width: 600px){
            font-size: 11pt;
        }
         @media screen and (max-width: 991px) and (min-width: 601px){
            font-size: 15pt;
        }
    }
    h1{
        font-size: 10rem;
        letter-spacing: 40px;
        @media screen and (max-width: 600px){
            font-size: 4rem;
        }
         @media screen and (max-width: 991px) and (min-width: 601px){
            font-size: 5rem;
        }
    }
    /*@media screen and (max-width: 600px){
        margin-top: -100vh;
    }*/
}
.about{
    background-color: #fff;
    .central{
        position: relative;
        //top: 30vh;
        //left: 40vw;
    }
}
.contacts{
    padding: 5vh 0vh;
    background-color: rgba(0,0,0,.6);
    color: #fff;
    .logo{
        padding: 5vh 0vh;
        img{
            width: 20%;
            display: block;
            margin: auto;
        }    
    }
    .social{
        padding: 10vh 0vh;
        display: flex;
        justify-content: center;
        img{
            margin: 5px;
        }
    }
    .email{
        h5{
            text-align: center;
        }
    }
}
