/*@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Alegreya|Oswald:300,500,600,700');
*/
@font-face{
    font-family: "Gill sans";
    src: url("../fonts/GIL_____.ttf");
}

*{
    //font-family: 'Lato', sans-serif;
    font-family: 'Gill sans';
    font-size: 11pt;
    /*-webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;*/ 
}
body,html{
    width: 100%;
    overflow-x: hidden;
    min-width: 300px;
    position: relative;
}
a{
    color: inherit;
}
a, a:hover{
    text-decoration: none;
}
a:hover{
    color: white;
    cursor: pointer;
}
.section{
    //margin-top: -50px;
}
.video{
    filter: blur(0px);
    position: fixed;
    top: 0;
    left:0;
    padding: 0;
    z-index: -1;
    overflow: hidden;
    width: 200%;
    video{
        width: 100%;
        @media screen and (min-width: 1200px){
            left: -10%;
            width: 130%;
        }
        @media screen and (max-width: 1200) {
            width: 150%;
        }
        @media screen and (max-width: 992px){
             left: -30%;
            width: 200%;
        }
        @media screen and (max-width: 768px){
            left: -40%;
            width: 300%;
        }
        @media screen and (max-width: 567px){
            display: none;
        }
    }
}
#sm-show-bg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    
    @media screen and (min-width: 567px){
        display: none;
    }
}
.navigation1{
    z-index: 1;
    position: absolute;
    width: 30%;
    top: 25%;
    left: 10%;
    .nav-item{
        padding: 20px;
        text-align: left;
        :hover{
            cursor: pointer;
        }
        a{
            font-size: 1.3rem;
            color: rgba(255,255,255,0.9);
        }
        a:hover{
            color: white;
        }
    }
    @media screen and (max-width: 992px){
        top: 50%;
    }
    @media screen and (max-width: 768px){
        top: 50%;
    }
}
.sidenav-trigger{
    display: none;
}
/*---------------------------------------------------------------*/
#fullpage{
    position: absolute;
}
nav.navbar{
    @media screen and (max-width: 992px){
        padding: 5px 10px;
    }
    @media screen and (max-width: 768px){
        background-color: transparent;
    }
    @media screen and (max-width: 992px){
        padding: 15px 10px;
    }
    background-color: rgba(0,0,0,.8);
    color: #fff;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    padding: 5px 60px;
    .nav-link{
        font-size: 20pt;
        @media screen and (max-width: 992px){
            font-size: 16pt;
        }
    }
    #navbarContent{
        justify-content: space-between;
        @media screen and (max-width: 992px){
            padding-left: 5%;
        }
    }
    .dropdown-toggle, ul.right .nav-link{
        text-transform: uppercase;
    }
    .dropdown-menu{
        @media screen and (max-width: 992px){
            margin-left: -292px;
        }
        margin-top: 4px;
        margin-left: -62px;
        border-radius: 0px;
        padding: 10px 30%;
        background-color: rgba(0,0,0,.6);
        .dropdown-item{
            color: rgba(255,255,255,.6);
            font-size: 16pt;
        }
        .dropdown-item:hover{
            background-color: transparent;
            color: #fff;
        }
        .dropdown-divider{
            border: none;
        }
        .dropdown-header{
            font-size: 18pt;
            font-weight: 500;
            color: #fff;
        }
    }
    .navbar-toggler{
        background-color: transparent;
        svg{
            width: 20px;
            height: 20px;
            @media screen and (max-width: 576px){
                width: 45px;
                height: 45px;
            }
        }
    }
    .right{
        .nav-item{
            margin: 0 2vw;
        }
    }
}
.home{
    z-index: 1;
    color: rgba(255,255,255,0.9);
    background-color: rgba(0,0,0,0.4);
    .col-12{
        padding-top: 31vh;
        position: static;
        @media screen and (max-width: 576px){
            padding-top: 35vh;
        }
    }
    img{
        display: block;
        margin: 0 auto;
        width: 21%;
        @media screen and (max-width: 991px) {
            width: 30%;
        }
        @media screen and (max-width: 768px){
            width: 40%;
        }
        @media screen and (max-width: 576px){
            width: 60%;
        }
    }
    h1,h5,p{
        text-align: right;
    }
    h5{
        display: block;
        margin: 0 auto;
        width: 50%;
        padding: 0;
        text-align: center;
        word-spacing:normal;
        
        @media screen and (max-width: 768px){
            font-size: 11pt;
        }
         @media screen and (max-width: 991px) and (min-width: 768px){
            font-size: 15pt;
        }
    }
    h1{
        font-size: 10rem;
        letter-spacing: 40px;
        @media screen and (max-width: 768px){
            font-size: 4rem;
        }
         @media screen and (max-width: 991px) and (min-width: 768px){
            font-size: 5rem;
        }
    }
    /*@media screen and (max-width: 600px){
        margin-top: -100vh;
    }*/
}
.about{
    @lightGray: rgba(0,0,0,.4);
    position: relative;
    background-color: rgba(255,255,255,0.9);
    .el{
        position: absolute;
        width: 13%;
        z-index: 2;
        left: 0px;
        top: 0px;
        .img{
            width: 50%;
            margin: 0 auto;
            svg{
                fill: @lightGray;
            }
        }
        .text{
            text-align: center;
            color: @lightGray;
        }
        @media screen and (max-width: 1200px){
            width: 15%; 
        }
        @media screen and (max-width: 992px){
            width: 20%; 
        }
        @media screen and (max-width: 768px){
            width: 20%;   
        }
        @media screen and (max-width: 576px){
            display: none;
        }
    }
    .el:hover{
        .img{
            width: 60%;
            svg{
                fill: #709441;
                cursor: pointer;
            } 
        }
        .text{
            font-size: 12pt;
            color: #141414;
        }
    }
    .central{
        position: absolute;
        z-index: 2;
        //top: 30vh;
        //left: 40vw;
        @media screen and (max-width: 576px){
            display: none;
        }
    }
    #sm-show-layout{
        padding-top: 15vh;
        @media screen and (min-width: 576px){
            display: none;
        }
        .elm{
            z-index: 2;
        
            .img{
                width: 60%;
                margin: 0 auto;
                svg{
                    fill: @lightGray;
                }
            }
            .text{
                text-align: center;
                color: @lightGray;
            }
        }
        .row{
            padding: 5vh 0vh;
        }
    }
}

.contacts{
    padding: 5vh 0vh;
    //background-color: rgba(0,0,0,.6);
    color: #fff;
    .logo{
        padding: 15vh 0vh 0vh 0vh;
        img{
            width: 20%;
            display: block;
            margin: auto;
            @media screen and (max-width: 576px){
                width: 50%;
            }
        }    
    }
    .social{
        padding: 20vh 0vh;
        display: flex;
        justify-content: center;
        img{
            width: 50px;
            margin: 5px;
        }
    }
    .email{
        h5{
            text-align: center;
        }
    }
}

.blurred{
    filter: blur(5px);
}