@font-face {
  font-family: "Gill sans";
  src: url("../fonts/GillSans.woff");
}
@font-face {
  font-family: "Gill sans light";
  src: url("../fonts/GillSans-Light.woff");
}
* {
  font-family: 'Gill sans';
  font-size: 11pt;
  color: #1e1c1c;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body,
html {
  width: 100%;
  overflow-x: hidden;
  min-width: 300px;
  position: relative;
  height: 100%;
}
a {
  color: inherit;
}
a,
a:hover {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  cursor: pointer;
}
/*NAVIGATION*/
nav.navbar {
  z-index: 1;
  padding: 7vh 10% 0 10%;
  background-color: transparent;
  position: absolute;
  width: 100%;
}
@media (max-width: 992px) {
  nav.navbar {
    padding: 5vh 5% 0vh 5%;
  }
}
nav.navbar .navbar-brand img {
  width: 80%;
}
@media (max-width: 992px) {
  nav.navbar .navbar-brand img {
    display: none;
  }
}
nav.navbar .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
nav.navbar .nav-item {
  padding-left: 9%;
}
nav.navbar .nav-item a {
  font-family: Gill sans light;
  font-size: 1.75rem;
  border-bottom: 4px solid transparent;
}
nav.navbar .nav-item a:hover {
  border-bottom: 4px solid #7ba14b;
}
@media (max-width: 992px) {
  nav.navbar .nav-item {
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 10%;
  }
}
nav.navbar .navbar-toggler {
  outline: none;
}
nav.navbar .navbar-toggler svg {
  width: 50px;
  height: 50px;
}
nav.navbar .navbar-toggler svg:nth-of-type(2) {
  display: none;
}
/*HOME*/
#home {
  background-color: white;
}
#home .home {
  color: rgba(255, 255, 255, 0.9);
}
#home .home .image-logo {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home .home .image-logo img {
  width: 20%;
}
@media (max-width: 992px) {
  #home .home .image-logo img:nth-of-type(1) {
    display: none;
  }
}
#home .home .image-logo img:nth-of-type(2) {
  width: 35%;
}
@media (min-width: 992px) {
  #home .home .image-logo img:nth-of-type(2) {
    display: none;
  }
}
/*TEAM */
#team .team .member-social {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #33333303;
  left: 0;
  top: 0;
}
#team .team .people {
  padding-top: 30vh;
  height: 100vh;
}
#team .team .people .row {
  padding: 0 0 0 25%;
}
@media (max-width: 992px) {
  #team .team .people .row {
    padding: 0;
  }
}
#team .team .people .row .person-wrapper {
  padding: 0 0 4vh 0;
  /*.team:hover .member-social{
        opacity: 1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .team .member-social a{
        position: relative;
        font-size: 16px;
        color: #fff;
        top: 47%;
    }

    .team:hover .member-social a{
        margin: 6px;
    }*/
  /*.links{
                        position: relative;
                        img{
                            
                            display: block;
                            margin: 0 auto;
                            height: 60px;
                            filter: invert(0.7);
                        }
                        img:hover{
                            //height: 65px;
                            cursor: pointer;
                        }
                    }*/
}
#team .team .people .row .person-wrapper .photo img {
  width: 80%;
  display: block;
  margin: 0 auto;
}
#team .team .people .row .person-wrapper .about {
  padding: 3vh 10px 2vh 10px;
  text-align: center;
}
#team .team .people .row .person-wrapper .about h4 {
  font-size: 1rem;
}
#team .team .people .row .person-wrapper .about h5 {
  font-size: 0.9rem;
  color: rgba(100, 100, 100, 0.8);
}
@media (max-width: 992px) {
  #team .team .people [id^='team-page'] {
    display: flex!important;
  }
}
#team .team .controls {
  height: 100vh;
  padding: 0 5% 10vh 5%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media (max-width: 992px) {
  #team .team .controls {
    display: none;
  }
}
#team .team .controls .pages {
  display: flex;
  flex-flow: row;
}
#team .team .controls .pages .page {
  padding: 0 10% 15px 10%;
}
#team .team .controls .pages .page span {
  font-family: 'Gill sans light';
  font-size: 2rem;
  border-bottom: 2px solid transparent;
}
#team .team .controls .pages .page span.active {
  border-bottom: 2px solid #7ba14b;
}
#team .team .controls .pages .page span:hover {
  cursor: pointer;
}
#team .team .controls .pages .arrow {
  display: flex;
  align-items: flex-end;
  padding: 0 20px 25px 20px;
}
#team .team .controls .pages .arrow img {
  width: 60%;
}
#team .team .controls .pages .arrow:hover {
  cursor: pointer;
}
/*NEWS*/
#news nav.navbar {
  position: fixed;
  background-color: white;
}
#news .news {
  height: 100vh;
}
#news .articles {
  padding: 30vh 1% 0 10%;
}
@media (max-width: 992px) {
  #news .articles {
    padding: 30vh 5% 0 5%;
  }
}
#news .articles article p {
  font-family: "Gill sans light";
  line-height: 20pt;
  letter-spacing: 0.5px;
  text-align: justify;
}
#news .controls {
  position: fixed;
  top: 0vh;
  right: 0;
  padding: 30vh 1% 0 1%;
}
@media (max-width: 992px) {
  #news .controls {
    padding: 5vh 1% 0 1%;
  }
}
/*FOOTER*/
footer.container-fluid {
  padding: 0 10% 10vh 10%;
  position: absolute;
  bottom: 0;
}
@media (max-width: 992px) {
  footer.container-fluid {
    padding: 0 5% 5vh 5%;
  }
}
footer.container-fluid .social .soc-wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}
footer.container-fluid .social .soc-wrapper a {
  padding-right: 1%;
}
footer.container-fluid .social .soc-wrapper a img {
  width: 90%;
}
@media (max-width: 992px) {
  footer.container-fluid .social .soc-wrapper a img {
    width: 110%;
  }
}
@media (max-width: 992px) {
  footer.container-fluid .social .soc-wrapper a {
    padding: 0 4%;
  }
}
@media (max-width: 992px) {
  footer.container-fluid .social .soc-wrapper {
    justify-content: space-between;
  }
}
/*UTILITY*/
.hidden {
  display: none!important;
}
